<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GPTeacher</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script>
    function showExample() {
      document.querySelector('textarea').value = 'System.out.println("Hello, world!");\
                                                  \nこのコードの意味を教えてください．';
    }

    function clearText() {
      document.querySelector('textarea').value = '';
    }
  </script>
</head>
<body>
  <h1>AI Assistant</h1>
  <form method="POST">
    <textarea name="prompt" placeholder="ここに入力" required></textarea>
    <br>
    <div class="content">
      <button type="button" onclick="clearText()">クリア</button>
      <button type="button" onclick="showExample()">例</button>
      <button type="submit">送信</button>
    </div>
  </form>
  {% if message %}
    <p id="message">{{message}}</p>
  {% endif %}
</body>
</html>
